body{
	background-image: url("c1.png");
}

.writings{
	float:left;
	color:white;
	font-size: 30px;
	margin: 90px 0px 0px 70px;
}

p{
	color:white;
	padding:10px;
	margin: 20px 0px 0px 0px;
	font-size: 17px;
}


.signup{
	color:rgb(255,0,140);

}

.signup:hover{
	color:white;
}



.top_right{
	color: rgb(255,0,140);
	font-style: bold;
	text-shadow:1px 1px orange;
	text-decoration: none;
	font-weight: 100px;
	padding: 5px;
	margin: 8px;
	opacity:0.9; 
	

}
.top_right:hover{
	text-decoration: underline;
	border: 1px solid white;
	border-radius: 9px;
	background-color: rgb(255,0,140);
	color:white;
	padding:10px;
	transition: 0.5s;
	
}
.whole_top_right{
	margin:-125px 20px 0px 0px;
	float:right;

}


.heading {
	width:90%;
	margin: -45px 25px 95px 25px;
	font-weight: 90px;
	padding: 0px 0px 0px 20px;
	font-size: 250%;
	text-shadow: 1px 1px white, 0 0 15px white, 0 0 10px orange;
}
.heading_link{
	text-decoration: none;
	color:rgb(255,0,140);
}
.input_box {
	border:1px solid orange;
	margin:5px 0px 30px 0px;
	text-align:left;
	font-size: 16px;
	padding:10px 40px 10px 10px;
	border-radius: 9px;
	
	width:80%;
	opacity: 0.7;
	
}

.input_box:hover{
	opacity: 1;
}
label{
	color:rgb(255,0,140);
	padding:10px;
	font-weight: 90px;
	font-size: 16px;
	text-shadow:1px 1px black;
	text-decoration: none;


}
form{
	background-opacity: 0.9;
	width:30%;
	margin:50px 140px 0px 0px;
	padding:10px;
	
	border-radius: 10px;
	float:right;

}
button{

	background-color: rgb(255,0,140);
	color:white;
	font-size: 13px;
	border-radius: 9px;
	width:50%;
	padding: 8px 0px 8px 0px;
	margin:15px 100px 0px 40px;
	text-align: center;
}

@media screen and (max-width: 600px) {
  .whole_top_right a:not(:first-child) {display: none;}
  .whole_top_right a.icon {
    float: right;
    display: block;
    
  }
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 1800px;
  top: 0;
  left: 0;
 background-color:#111;
 opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: underline;
  font-size: 25px;
  color: rgb(255,0,140);
  display: block;
  transition: 0.3s;

}

.sidepanel a:hover {
  text-decoration: underline;
	border: 1px solid white;
	border-radius: 9px;
	background-color: rgb(255,0,140);
	color:white;
	padding:10px;
	text-align: auto;
}

.sidepanel ,.closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
}

.openbtn {
  font-size: 10px;
 	margin: 20px 0px 8px 5px;
 	width: 30px;
  background-color: rgb(255,0,140);
  color: white;
  
  border: none;

}

.openbtn:hover {
  background-color:#444;
}
.login{
	color:rgb(255,0,140);

}
.login:hover{
	color:white;
}
@media screen and (max-height: 450px) {
  .sidepanel {padding-top: 15px;}
  .sidepanel a {font-size: 18px;}
}

#main {
  transition: margin-left .5s;
  padding: 16px;

}
